@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


/*Header------------------------------------*/


header {
    background: url('../images/Photo.jpg') no-repeat center;
    background-size: 100%;
    height: 340px;
}

header h1 {
    padding-top: 225px;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

header:after {
    content: "";
    display: block;
    padding-bottom: 20px;
    border-bottom: solid 3px #ff0000;
    width: 1170px;
    margin: auto;
}


/*Content------------------------------------*/


section {
    max-width: 1220px;
    margin: auto;
    background-color: #ffffff;
    position: relative;
}

section:after, .subtitle:after, .content:after, .float:after, .menu_clear:after {
    content: "";
    display: block;
    clear: both;
}

.block_left {
    position: absolute;

    width: 240px;
    float: left;
    height: 100%;
    background-color: #000000;
    padding-top: 25px;
}

.block_left ul li {
    line-height: 42px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    transition: background .1s linear;
}

.block_left ul li:hover {
    background-color: #ff0000;
}

.block_left ul li a {
    color: #ffffff;
}

.block_left ul li a img {
    margin: 0 20px -2px 28px;
}


.block_left form {
    display: block;
    margin: auto;
    width: 190px;
    line-height: 42px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 29px;
}

.block_left form button {
    width: 25%;
    line-height: 42px;
    color: #c2c2c2;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.block_left form input {
    float: right;
    width: 70%;
    background-color: transparent;
    border: none;
    line-height: 42px;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
    outline: none;
}


/*Block_right------------------------------------*/


.content {
    float: right;
    width: 980px;
    background-color: #f1f1f1;
}

.block_right {
    max-width: 895px;
    margin: auto;
    padding-top: 34px;
}

.subtitle h3 {
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 50px;
    color: #000000;
    text-transform: uppercase;
}

.subtitle h3 img {
    margin-right: 25px;
}

.selects{
    float: right;
}
select {
    background: #a1a1a1  url('../icons/Arrow.png') no-repeat top 50% right 16px;

    min-width: 170px;
    line-height: 42px;
    padding-left: 16px;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Metropolis';
    font-weight: 500;
    margin-right: 18px;
    margin-top: 10px;
    transition: background .2s linear;

    /*Убирает стандартную стрелочку*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select option{
    background-color: #a1a1a1;
}

select:hover {
    background-color: #ff0000;
}

select:nth-of-type(3) {
    margin-right: 0;
}

.subtitle:after {
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #898989;
}

.player {
    margin-top: 35px;
    /*margin-bottom: 38px;*/
    height: 502px;
    position: relative;
    background: url('../images/Main-Video.jpg') center no-repeat;
    position: relative;
}

.player a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -37px;
}


/*Menu------------------------------------*/


.menu {
    float: left;
    max-width: 430px;
    margin-top: 34px;
}

.menu:after {
    content: "";
    display: block;
    padding-bottom: 58px;
    border-bottom: solid 1px #898989;
}

.hover {
    position: relative;
    height: 243px;
}

.red {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #fa2d2b;
    z-index: 2;
    opacity: 0;
}

.hover:hover .red {
    height: 100%;
    opacity: .6;
    transition: .3s;
}


.float {
    float: right;
    padding-top: 16px;
}

.menu p {
    float: left;
    padding: 20px 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    line-height: 0;
    color: #363636;
    text-transform: uppercase;
}

.menu p i {
    vertical-align: middle;
    font-size: 18px;
    color: #363636;
    margin-right: 15px;
}

.menu span {
    font-family: 'Metrophobic', sans-serif;
    font-size: 14px;
    color: #555555;
    margin-right: 10px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    float: right;
    margin-top: 5px;
    cursor: pointer;
    width: 35px;
    height: 10px;
    background: #cccccc;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;

    width: 18px;
    height: 18px;
    background: #959595;
    border-radius: 50px;
    transition: 0.3s;
}


input:checked + label:after {
    right: calc(100% - 0px);
    transform: translateX(100%);
    background-color: #fa090a;

}

.menu_right {
    float: right;
}


/*List_pager------------------------------------*/


.list_pager {
    padding: 40px 0;
    text-align: center;
}

.list_pager ul {
    list-style: none;
}

.list_pager ul li {
    display: inline-block;
    padding: 0 4px;
}

.list_pager ul li a {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 50px;
    transition: background .2s linear;
}

.list_pager ul li a:hover {
    background-color: #fa090a;
    color: #ffffff;
}


footer {
    height: 135px;
    background-color: #ffffff;
    position: relative;
}